<!doctype html>
<html lang="en">

<body>
<footer class="section-footer bg-dark footer-dark">
    <div class="container">
      <section class="footer-main padding-y">
        <div class="row">
          <aside class=" col-lg-6">
            <article class="me-lg-4">
              <p class="mt-3"> © 2023 - 2024 Group 1 Attendance System. <br> All rights reserved. </p>
            </article>
          </aside>
         
          <aside class=" col-lg-6">
            <h6 class="title">Have Questions?</h6>
            <p>Stay in touch with latest updates about our System </p>
    
            <form class="mb-3">
              <div class="input-group">
                <input class="form-control" type="text" placeholder="Enter Your Question here">
                <button class="btn btn-warning" type="submit">
                  Send
                </button>
              </div> <!-- input-group.// -->
            </form>
          </aside>
        </div> <!-- row.// -->
      </section>  <!-- footer-top.// -->
    
      <section class="footer-bottom d-flex justify-content-lg-between border-top">
        <div style="padding:10px">
          <i style="padding:10px " class="fab fa-lg fa-pinterest"></i>
          <i style="padding:10px " class="fab fa-lg fa-facebook"></i>
          <i style="padding:10px " class="fab fa-lg fa-instagram"></i>
          <i style="padding:10px " class="fa fa-envelope"></i>
        </div>
        <img style="height:3rem" src="assets/images/posts/logo.png" >
      </section>
    </div> <!-- container end.// -->
    </footer>
    
    
    <aside class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_cart">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" style="color:orangered;margin-left:8rem">My Profile</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          
          <figure class="itemside mb-4">
            <div class="aside">
              <img src="assets/images/posts/1.png" class="border img-sm rounded">
            </div>
            <figcaption class="info">
              <a href="#" class="btn btn-icon btn-light float-end"><i class="fa fa-user-alt"></i></a>
              <p> Christian Misa</p>
             
            </figcaption>
          </figure>
    
          
    
          <div class="mb-3" style="text-align:center">
            <a href="#" class="btn w-50 btn-success "  > LogOut </a>
          </div>
         
    
        </div> <!-- offcanvas-body -->
    </aside> <!-- offcanvas -->
    </body>
    </html>